<!DOCTYPE html>
<html lang="en">
<%- include('_head', {title:'Landing Page Health App'}) %>
<body>
    <div class="container-fluid">
        <center>
            <div class="container">
                <h1>Landing Page Health App</h1>
                <br>
                <br>
                <a href="/login" class="btn btn-success">Login</a>
                <br> <br>
                <a href="/signup" class="btn btn-primary">Signup</a>
            </div>
        </center>
    </div>
</body>
</html>